body { background-color: black ;
    }
.motivational {
    border: 5px solid white;
    width: 100%;

}
.belive {
    width:50%  ;
    margin-left: 25%;
    background-color: black;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-top: 100px;
   

}
h1 {
    text-transform: uppercase;
    font-size: 2rem;
}
footer {
    color:white;
    font-size: small;
    margin-top: 100%;
    font-family: 'Merriweather', serif;
    pading: 10px ;
    

}
