body { background-color: black ;
    }
.motivational {
    border: 5px solid white;
    width: 100%;

}
.belive {
    width:50%  ;
    margin-left: 25%;
    background-color: black;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-top: 100px;
   

}
h1 {
    text-transform: uppercase;
    font-size: 3rem;
}
.belive2 {
    color:white;
    font-size: small;
    margin-top: 900px;
    font-family: 'Merriweather', serif;

}
